{% extends "personal/base.html" %}
{% load static %}
{% block title %}
    - Logout
{% endblock title %}
{% block content %}
    <div class="text-center alert alert-info alert-dismissible fade show" role="alert">
        <strong><p class="text-info">ATENCIÓN: Ha cerrado su sesión...</p></strong>
    </div>
    <div class="card text-bg-secondary mb-3">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <p class="mb-6">Si lo desea pude 
                        <a class="btn btn-success" href="{% url 'login' %}">Ingresar</a>
                        nuevamente...  O bien puede 
                        <a class="btn btn-info" href="/">Volver</a>
                    </p>
                </div> 
            </div> 
        </div> 
    </div>  

{% endblock content%}