{% extends 'personal/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" action="/create/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <br>
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-outline-success" value="Confirma"></input>
            <a class="btn btn-outline-primary" href="{% url 'index' %}">Cancelar</a>
        </div>
    
    </form>
{% endblock content %}