{% extends 'personal/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    - Detalle
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <form method="GET" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                Detalle del Empleado
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Datos del Empleado Nº</h5>
                        </div>
                        <div class="col">
                            <input id="txtIdEmpleado" type="text" class="form-control form-control-lg" aria-label="Disabled input example" name="txtIdEmpleado" value="{{object.id}}" readonly></input>
                        </div>
                    </div>
                </div>
                <p class="card-text">
                    {{ form|crispy }}
                    <br>
                    <div class="form-group">
                        <a class="btn btn-outline-primary" href="{% url 'personal-index' %}">Volver</a>
                    </div>
                </p>
            </div>
        </div>
    </form>
{% endblock content %}