{% extends 'personal/base.html' %}
{% load static %}
{% block title %}
    - Filtrar
{% endblock title %}
{% block content %}
    <form method="GET" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                Filtrar los Empleados por Apellidos y/o Nombres (dejar todo en blanco para mostrar todos los empleados)
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Ingrese los datos para filtrar:</h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="apellidos">Apellidos</label>
                            <input id="apellidos" type="text" class="form-control" placeholder="Apellidos completos" aria-label="First name" name="{{object.apellidos}}" value="{{object.apellidos}}"></input>
                        </div>
                        <div class="col">
                            <label for="nombres">Nombres</label>
                            <input id="nombres" type="text" class="form-control" placeholder="Nombres completos" aria-label="Last name" name="{{object.nombres}}" value="{{object.nombres}}"></input>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <a class="btn btn-outline-success" href="{% url 'personal-filtrado' apellidos=object.apellidos nombres=object.nombres %}">Filtrar</a>
                    <a class="btn btn-outline-primary" href="{% url 'personal-index' %}">Volver</a>
                </div>
            </div>
        </div>
    </form>
    {% endblock content %}