{% extends 'personal/base.html' %}
{% block title %}
    - Detalle
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Datos del Empleado Nº {{object.id}}</h5>
                    </div>
                </div>
            </div>
            <p class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-auto">
                            <img id="img_thumb_personal" class="img-thumbnail" width="100" src="{{object.foto.url}}" alt="">
                        </div>
                        <div class="col-8">
                            <label for="txtApellidos">Apellidos</label>
                            <input id="txtApellidos" type="text" class="form-control" placeholder="Apellidos completos" aria-label="First name" name="txtApellidos" value="{{object.apellidos}}" readonly></input>
                            <label for="txtNombres">Nombres</label>
                            <input id="txtNombres" type="text" class="form-control" placeholder="Nombres completos" aria-label="Last name" name="txtNombres" value="{{object.nombres}}" readonly></input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="TipoDocSelect" class="form-label">Tipo de Documento</label>
                            <input id="TipoDocSelect" type="text" class="form-control" aria-label="Last name" name="TipoDocSelect" value={{object.id_documento}} readonly></input>
                        </div>
                        <div class="col">
                            <label for="txtDoc">Nº Documento</label>
                            <input id="txtDoc" class="form-control" type="text" name="txtDoc" value="{{object.documento}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="txtCuil">CUIL</label>
                            <input id="txtCuil" class="form-control" type="text" name="txtCuil" value="{{object.cuil}}" readonly></input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="dateNacim">Fecha de Nacimiento</label>
                            <input id="dateNacim" class="form-control" name="dateNacim" value="{{object.fecha_nacimiento}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="EstCivilSelect" class="form-label">Estado Civil</label>
                            <input id="EstCivilSelect" type="text" class="form-control" aria-label="Last name" name="EstCivilSelect" value="{{object.id_est_civil}}" readonly></input>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="dateIngreso">Fecha de Ingreso</label>
                            <input id="dateIngreso" class="form-control" name="dateIngreso" value="{{object.fecha_ingreso}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="CategSelect" class="form-label">Categoria</label>
                            <input id="CategSelect" type="text" class="form-control" aria-label="Last name" name="CategSelect" value="{{object.id_categoria}}" readonly></input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="txtDomicilio">Domicilio</label>
                            <input id="txtDomicilio" class="form-control" type="text" name="txtDomicilio" value="{{object.domicilio}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="LocalidadSelect" class="form-label">Localidad</label>
                            <input id="LocalidadSelect" type="text" class="form-control" aria-label="Last name" name="LocalidadSelect" value="{{object.id_localidad}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="LocalidadSelect" class="form-label">Provincia</label>
                            <input id="LocalidadSelect" type="text" class="form-control" aria-label="Last name" name="LocalidadSelect" value="{{object.id_provincia}}" readonly></input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="txtTel">Teléfono</label>
                            <input id="txtTel" class="form-control" type="text" name="txtTel" value="{{object.tel}}" readonly></input>
                        </div>
                        <div class="col">
                            <label for="txtEmail">Email</label>
                            <input id="txtEmail" class="form-control" type="email" name="txtEmail" value="{{object.email}}" readonly></input>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <a class="btn btn-outline-primary" href="{% url 'personal:personal-index' %}">Volver</a>
                </div>
            </p>
        </div>
    </div>
{% endblock content %}