{% extends 'personal/base.html' %}
{% load static %}
{% block title %}
    - Padrón
{% endblock title %}
{% block content %}
 
    <div class="card text-bg-secondary mb-3">
        <div class="card-header">
                <h5 class="text-center">Se muestran {{object_list.count}} registros de empleados.</h5>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-secondary table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Leg</th>
                        <th>Foto</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% if object_list %}
                        {% for empleado in object_list %}
                            <tr>
                                <td>{{empleado.id}}</td>
                                <td><img class="img_thumb_personal" src="{{empleado.foto.url}}" alt="" class="img-thum" width = "80" height="95" ></td>
                                <td>{{empleado.apellidos}}</td>
                                <td>{{empleado.nombres}}</td>
                                <td>
                                    <div class="d-grid d-md-block mx-auto">
                                        <a class="btn btn-info" href="{% url 'personal:personal-detalle' empleado.id %}">Detalle</a>
                                        <a class="btn btn-primary" href="{% url 'personal:personal-editar' empleado.id %}">Editar</a>
                                        <a class="btn btn-danger" href="{% url 'personal:personal-baja' empleado.id %}">Borrar</a>
                                        <a class="btn btn-warning" href="{% url 'licencias:licencias-listado' empleado.id %}">Licencias</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td>---</td>
                                <td>---</td>
                                <td>No hay empleados para mostrar</td>
                                <td>---</td>
                                <td>---</td>
                            <tr>
                    {% endif %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock content %}