{% extends 'personal/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    - Modificar
{% endblock title %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Modificar Empleado
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Datos del Empleado Nº</h5>
                        </div>
                        <div class="col">
                            <input id="txtIdEmpleado" type="text" class="form-control form-control-lg" aria-label="Disabled input example" name="txtIdEmpleado" value="{{object.id}}" readonly></input>
                        </div>
                    </div>
                </div>
                <p class="card-text">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.apellidos|as_crispy_field }}
                                {{ form.nombres|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.foto|as_crispy_field }}
                            </div>
                            <div class="col">
                                <br>
                                <img id="img_thumb_personal" class="img-thumbnail" width="100" src="{{object.foto.url}}" alt="Foto del Empleado">
                            </div>
                        </div>
                    </div>
                    <!-- PARA HACER PREVIEW DE LA FOTO UNA VEZ SELECCIONADA -->
                    <script>
                        id_foto.onchange = evt => {
                            const [file] = id_foto.files
                                if (file) {
                                    img_thumb_personal.src = URL.createObjectURL(file)
                                }
                        }
                    </script> 
                    <!--  -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.id_documento|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.documento|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.cuil|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.fecha_nacimiento|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.id_est_civil|as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.fecha_ingreso|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.id_categoria|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.domicilio|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.id_localidad|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.id_provincia|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.tel|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success" value="Actualizar"></input>
                        <a class="btn btn-outline-primary" href="{% url 'personal:personal-index' %}">Cancelar</a>
                    </div>
                </p>
            </div>
        </div>
    </form>
{% endblock content %}