@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    /* settings generales */
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    background-image: url(./emigrando.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(77, 116, 140, 0.8);
    /* -------------------------------------------- */
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/* ----------------------- estructura general de la web ----------------------------- */
.cont_princip {
    min-height: 100%;
    width: 100%;
    max-width: 1200px;
    min-width: 450px;
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "contenido"
                         "footer";
    padding-top: 70px;
    padding-bottom: 80px;
}

.cont_princip > div,
.cont_princip .header,
.cont_princip .contenido,
.cont_princip .footer {
    background: rgba(0, 0, 0, 0.432);
    max-width: 1200px;
    min-width: 450px;
}

.cont_princip .header {
    grid-area: header;
    background: rgba(77, 116, 140, 0.9);
    color: white;
    padding: 10px;
    top: 0;
    position: fixed;
    width: 100%;
}

.cont_princip .header p {
    font-weight: bold;
}

.cont_princip .contenido {
    grid-area: contenido;
    overflow: auto;
    color: white;
    text-align: center;
    padding: 40px;
}

.cont_princip .footer {
    grid-area: footer;
    background: rgba(77, 116, 140, 0.9);
    color: #fff;
    text-align: center;
    position: relative;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-height: 78px;

}

.bt-princip,
input[type=submit],
input[type=reset] {
    background-color: rgb(77, 116, 140);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin: 10px;
    transition: all 600ms ease;
}

.bt-princip {
    position: relative;
}

.bt-princip:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    padding: 18px 42px;
    background-color: rgb(162, 212, 242);
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* --- cambia el color según el precio ----*/
.antes {
    font-size: 15px;
    font-weight: bold;
    text-decoration: line-through;
}

.ahora {
    font-size: 20px;
    font-weight: bold;
    color:red;
    background-color: yellow;
}

/* --------------- Detalle de los articulos --------------- */
table {
    border-collapse: collapse;
    font-size: 1.2rem;
    table-layout: auto;
    width: 100%;
}

td,
th {
    border: none;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    color: black;
    /* background-color: rgba(221, 221, 221, 0.7); */
    background-color: rgba(162, 212, 242, 0.8);
}

tr:nth-child(odd) {
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(77, 116, 140, 0.8);
}


/*  --------------------- PARA LA PAGINA DE LOS ARTICULOS -------------------------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
}

.column img {
    margin-top: 17px;
    vertical-align: middle;
    width: 25%;
}

.modal-contenido {
    background-color: rgba(162, 212, 242, 0.8);
    width: 400px;
    padding: 10px 10px;
    margin: 20% auto;
    position: relative;
}

.modal {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms;
}

#miModal1:target, 
#miModal2:target,
#miModal3:target, 
#miModal4:target,  
#miModal5:target, 
#miModal6:target,
#miModal7:target, 
#miModal8:target,
#miModal9:target, 
#miModal10:target,
#miModal11:target, 
#miModal12:target,    
#miModal13:target, 
#miModal14:target,
#miModal15:target, 
#miModal16:target {
    opacity: 1;
    pointer-events: auto;
}


/* ---------------- contacto.html -----------------------------------*/
input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.contenedor {
    padding: 20px;
}


/* -------------------------------- BARRA REDES SOCIALES --------------------------------- */
.social span a { 
    display: inline-block;
    color: #fff;
    padding: 4px 8px;
    transition: all 600ms ease;
}

.social a.icon-facebook {
    background: #3b5998;
}

.social a.icon-twitter {
    background: #00abf0;
}

.social a.icon-instagram {
    background: #d932cb;
}

.social a.icon-pinterest {
    background: #d31636;
}

.social a.icon-mail {
    background: #666666;
}

.social a:hover {
    padding: 10px 18px;
    background-color: rgb(162, 212, 242);
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 600ms
}


/* -------------------------------- menu de navegación ----------------------------------- */
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.topnav a:hover, .topnav a.active:hover  {
    background-color: #A2D4F2;
    color: black;
    padding: 14px 25px;
}

.topnav a.active {
    color: white;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}


/* ------------------------- Media Querys ------------------------------------------------ */
@media (min-width:992px) {

    h1 {
        font-size: 6rem;
        text-align: center;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {

    /* LISTADO DE ARTICULOS */
    .column {
        flex: 50%;
        max-width: 50%;
    }
    /* ------------------- */
}

@media screen and (max-width: 600px) {

    /* menu navegación */
    .topnav a:not(:first-child),
    .topnavh a:not(:first-child) {
        display: none;
    }

    .topnav a.icon,
    .topnavh a.icon {
        float: right;
        display: block;
    }
    /* ----------------- */

    /* LISTADO DE ARTICULOS */
    .column {
        flex: 100%;
        max-width: 100%;
    }
    /* ---------------------- */
}

@media screen and (max-width: 600px) {

    /* menu navegación */
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /* ----------------- */
}
/* --------------------------------------------------------------------------------------- */
